*{
    scroll-behavior: smooth;
}

.navbar-nav a:hover{
   color: #FF3D00 !important;
}
form input,textarea{
    border-radius: 0px !important;
    border-top: none !important;
    border-left: none !important;
    border-right:none !important;
}
textarea:focus, 
  textarea.form-control:focus, 
  input.form-control:focus, 
  input[type=text]:focus, 
  input[type=password]:focus, 
  input[type=email]:focus, 
  input[type=number]:focus, 
  [type=text].form-control:focus, 
  [type=password].form-control:focus, 
  [type=email].form-control:focus, 
  [type=tel].form-control:focus, 
  [contenteditable].form-control:focus {
  box-shadow: inset 0 -1px 0 rgb(4, 122, 24);
  }

#home{
   padding: 0%;
}
#home img{
   background-repeat: no-repeat;
   width: 100%;
   height: auto;
}

#products .card:hover{
   box-shadow: 5px 5px 5px #CFD8DC ;
   transform: scale(1.03);
   transition: ease-in-out;
}

#footer a{
 text-decoration: none;   
}
#footer a:hover{
   color: #f1595a;
}



/* whatsapp */

.chat{
   position: fixed !important;
   right: 0px !important;
   bottom: 0px !important;
   z-index: 5;
   margin-right: 10px;
   margin-bottom: 90px;
}

.chat input:focus{
   outline: none;
}

.chat #close:focus{
   transform: scale(1.03);
   outline: none;
}



.whatsapp {
   position: fixed;
   right: 0px;
   bottom: 0px;
   padding-right: 15px;
   z-index: 5;
}
.whatsapp h5 :hover{
   transform: scale(1.1);
}
.whatsapp h5 {
   color: #20b20f;
  
}

.media:hover{
   transform: scale(1);
 }

